<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-init-method="init" default-destroy-method="destroy">

	<bean id="person" class="com.anh.spring.test.Person" scope="prototype"
		init-method="onCreate" destroy-method="onDestroy" autowire="constructor"
		factory-method="getInstance">
		<constructor-arg value="1009299" name="id"></constructor-arg>
		<constructor-arg value="Anh1" name="name"></constructor-arg>
		<property name="taxId" value="123"></property>
		<property name="address" ref="address"></property>
	</bean>

	<bean id="person2" class="com.anh.spring.test.Person" scope="singleton"
		init-method="onCreate" destroy-method="onDestroy" autowire="constructor"
		factory-method="createPerson" factory-bean="personfactory">
		<constructor-arg value="1109299" name="id"></constructor-arg>
		<constructor-arg value="AnhP2" name="name"></constructor-arg>
		<property name="taxId" value="123"></property>
		<property name="address" ref="address"></property>
	</bean>

	<bean id="address" class="com.anh.spring.test.Address" scope="singleton"
		init-method="onCreated" destroy-method="onDestroyed" autowire="byName">
		<constructor-arg name="street" value="Yonge"></constructor-arg>
		<constructor-arg name="postcode" value="M7Y4Hy"></constructor-arg>
		<property name="street" value="Dufferin"></property>
	</bean>

	<bean id="personfactory" class="com.anh.spring.test.PersonFactory">
	</bean>


	<bean id="basket" class="com.anh.spring.test.FruitBasket">
		<constructor-arg value="Anh's Basket" name="name"></constructor-arg>
		<constructor-arg>
			<list>
				<value>apple</value>
				<value>orange</value>
				<value>banana</value>
				<value>mango</value>
			</list>
		</constructor-arg>
	</bean>


	<bean id="jungle" class="com.anh.spring.test.Jungle">
		<!-- <property name="largest" ref="elephant"></property> <property name="animals"> 
			<list> <ref bean="snake" /> <ref bean="lion" /> <ref bean="elephant" /> </list> 
			</property> -->
		<property name="foods">
			<props>
				<prop key="gorilla">banana</prop>
				<prop key="panda">bamboo</prop>
				<prop key="snake">egg</prop>
			</props>
		</property>
		<property name="animals">
			<map>
				<entry key="lion" value-ref="lion"></entry>
				<entry key="elephant" value-ref="elephant"></entry>
				<entry key="snake" value-ref="snake"></entry>
			</map>
		</property>
	</bean>

	<bean id="lion" class="com.anh.spring.test.Animal">
		<property name="name" value="Igo"></property>
		<property name="type" value="lion"></property>
	</bean>

	<bean id="elephant" class="com.anh.spring.test.Animal">
		<property name="name" value="Rich"></property>
		<property name="type" value="elephant"></property>
	</bean>

	<bean id="snake" class="com.anh.spring.test.Animal">
		<property name="name" value="Bib"></property>
		<property name="type" value="snake"></property>
	</bean>
</beans>
